<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Angular Gantt - Gantt chart component for AngularJS (Demo)</title>
    <meta name="description" content="Gantt chart component for AngularJS">
    <meta name="viewport" content="width=device-width">

    <link rel="canonical" href="https://www.angular-gantt.com/">
    <link rel="shortcut icon" href="https://www.angular-gantt.com/img/favicon.ico">

</head>
<body ng-app="gantt.demo" ng-strict-di><!-- ng-strict-di-->
    <div ng-controller="DemoCtrl">
        <button ng-click="collapseAll()"> collpaseAll </button>
        <button ng-click="expandAll()"> expandALL </button>
        <button ng-click="expand(1)"> expandOneRow </button>
        <button ng-click="collapse(1)"> collapseOne </button>
        <button ng-click="test2()">noTask</button>
        <button ng-click="addTask()">add task</button>
        <button ng-click="scrollToDate()">scroll to date</button>
        <button ng-click="easeScrollToDate()">ease scroll to date</button>
        <md-input-container>
            <md-select ng-model="selectedRow" ng-change="goToRow(selectedRow)">
              <md-option ng-value="row.id" ng-repeat="row in data">{{ row.name }}</md-option>
            </md-select>
          </md-input-container>
        <button type="button" style="width: 5em; text-align: left" class="btn btn-default" ng-model="scale" bs-options="s for s in ['minute', '5 minutes', 'hour', '3 hours', 'day', 'week', '2 weeks', 'month', 'quarter', '6 months', 'year']"
            bs-select></button>
        <div gantt data="data"
            api="registerApi"
            auto-expand="autoExpand"
            task-out-of-range="taskOutOfRange"
            extra-scale-time="extraScaleTime"
            expand-to-fit="expandToFit"
            width="width"
            max-height="500"
            view-scale="scale"
            column-width="getColumnWidth(zoom)"

            shrink-to-fit="shrinkToFit">
            <gantt-recycler
                template-rows="templateRows"
                no-collapsible="noCollapsible"
            ></gantt-recycler>
        </div>
    </div>
</body>
<style>
    #span, .gantt-task-content {
        overflow: visible;
    }

    #hola {
        position: absolute;
        left: 90px;
        margin-left: 30px;
    }

    .side-element {
        min-width: 500px;
    }

    .input-hidden input{
        border: 1px red solid;
    }
</style>
</html>
